.a-fade-in-enter-active,
.a-fade-in-leave-active {
  transition: all .3s ease;
}
.a-fade-in-enter,
.a-fade-in-leave-to {
  opacity: 0;
}


.a-slide-enter-active,
.a-slide-leave-active {
  transition: all .3s ease;
  overflow: hidden;
}
.a-slide-enter,
.a-slide-leave-to {
  transform: translateY(-100%);
}


.a-flip-list-enter, .a-flip-list-leave-to
/* .a-flip-list-leave-active for below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.a-flip-list-leave-active {
  position: absolute;
}