
// 字体
body {
  font-family: PingFang SC,Helvetica Neue,Arial,sans-serif;
}
h1, h2, h3, h4, h5 {
  font-weight: 400;
  color: rgb(31, 47, 61);
  border: none;
}
h1
  font-size 1.9rem

h2
  font-size 1.5rem
  padding-bottom: 1rem

h3
  font-size 1.2rem

* {
  box-sizing: border-box;
}
table
  width 100%
  display table
  text-align center
  th, td
    border 1px solid #f2f2f2
    padding 0.6em 1em

// 文档代码块样式优化
.theme-default-content pre, 
.theme-default-content pre[class*="language-"]
  margin 0
  border-radius 0


