
// 字体
body {
  font-family: PingFang SC,Helvetica Neue,Arial,sans-serif;
}
h1, h2, h3, h4, h5 {
  font-weight: 400;
  color: rgb(31, 47, 61);
  border: none;
}
h1
  font-size 1.9rem

h2
  font-size 1.5rem
  padding-bottom: 1rem

h3
  font-size 1.2rem

* {
  box-sizing: border-box;
}
table
  width 100%
  display table
  text-align center
  th, td
    border 1px solid #f2f2f2
    padding 0.6em 1em
  th
    background-color #e9f0f8
    font-weight 500

// 文档代码块样式优化
.theme-default-content pre, 
.theme-default-content pre[class*="language-"]
  margin 0
  border-radius 0
.navbar {
  box-shadow 0 0 5px #eaecef
}

.theme-default-content pre code, .theme-default-content pre[class*="language-"] code {
  color: #333;
}
.theme-default-content code {
  background: #e6f7ff;
  color: #1890ff;
}

div[class*=language-], div.highlight
  position relative
  background-color #e9f0f8
  border-radius 4px

  pre, pre[class*=language-]
    background transparent
    position relative
    z-index 1
    .content pre[class*=language-] code, .content pre code
      color #333
      padding 0
      background-color transparent
      border-radius 4px


::-webkit-scrollbar {
  width:.6rem;
  height:.6rem;
  background:hsla(0,0%,100%,.4)
}

::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(95, 95, 95, .3);
  -webkit-transition:background-color .1s;
  transition:background-color .1s

}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(95, 95, 95, .5);
}

.sidebar-heading {
  font-weight: 500!important;
  color: rgba(0, 0, 0, 0.45)!important;
}