.sidebar
  .sidebar-heading
    display flex
    justify-content space-between
    align-items center

  .sidebar-sub-headers

    a.sidebar-link
      border-left 1px solid $borderColor
    a.sidebar-link.active
      color $accentColor
      border-left 1px solid $accentColor
      border-right none
      background-color #fff

  a.sidebar-link
    border-right 0.12rem solid transparent
    border-left 0
    &.active
      font-weight 400
      color $accentColor
      border-color $accentColor
      background-color #e6f7ff

@media (min-width: 719px)
  .page
    padding-right 11rem

  .sidebar-sub-headers
    font-size 15px
    background-color #fff
    width 11rem
    position fixed
    z-index 10
    margin 0
    top $navbarHeight + 1.5rem
    right 0
    bottom 0
    box-sizing border-box

    overflow-y auto
    padding-left 0
@media (max-width: 719px)
  .theme-container .page
    padding-right 0