.dt-icon--right{
	margin-left: 5px;
}

.dt-icon--left{
	margin-right: 5px;
}

[class*=" fa-"],
[class^=fa-] {
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}